.lr-restaurant-meta-box label,
.lr-restaurant-location-box label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.lr-restaurant-meta-box input[type="text"],
.lr-restaurant-meta-box textarea,
.lr-restaurant-location-box input[type="text"] {
    width: 100%;
    padding: 5px;
}

#restaurant_map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

#find_on_map {
    margin-top: 10px;
}